.btn-home {
    width: 60%;
    height: 60%;
    padding: 10px;
    margin-right: auto;
    display: block;
}

.btn{
    border-radius: 50px;
}

hr{
    border-top: 3px solid #bbb;
}

